.gallery {
  display: grid;
  max-width: 1140px;
  /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 240px; */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, auto);
  grid-gap: 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  border: 1px solid #555;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

a {
  text-decoration: none;
  color: currentColor;
}

p {
  margin: 0;
}

.photo-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

b {
  font-size: 12px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  background-color: aqua;
}

button {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
